* {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.0001);
}

.page-header-menu {
  display: flex;
  margin: 25px 330px;
}

.page-header-menu li {
  list-style-type: none;
}

.page-header-menu-home-item,
.page-header-menu-photoapp-item {
  margin-right: 72px;
}

.page-header-menu-design-item {
  margin-right: 50px;
}

a {
  color: red;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.7px;
  line-height: 18px;
}

img {
  width: 1280px;
  max-height: 100%;
}

.page-content {
  width: 1280px;
}

.page-content-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  letter-spacing: 3.3px;
  line-height: 27px;
  margin: 48px 253px 0px;
}

.page-content-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.4px;
  text-align: center;
  line-height: 26px;
}

.page-content-text :first-child {
  margin: 38px 67.5px 28px;
}

.page-content-text :last-child {
  margin: 0px 67.5px 66px;
}

.page-content-btn {
  background-color: red;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.8px;
  border-radius: 4px;
  border: red;
  width: 191px;
  height: 51px;
  margin: 0 544.5px 42px;
  line-height: 12px;
}

.copyright {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: 19.5px;
  margin: 82px 105px 29px 713px;
}
